customer-loans/target
customer-loans/checkpoints
customer-loans/.idea
customer-loans/data
customer-loans/*.iml
kafka-record-gen/target
kafka-record-gen/.idea
kafka-record-gen/*.iml
kafka-record-gen/log4j-kafka-record-gen.log
